.nabar
{
    display: flex;
    justify-content: end;
    margin-right: 20%;
    margin-bottom: 50px;
    margin-top: 30px;
    background-color: aqua;
}

.nabar button
{
    margin-left: 20px;
    margin-right: 10px;

}
.theme
{
    display: flex;
}

.nabar2
{
    display: flex;
    justify-content: end;
    margin-right: 20%;
    margin-bottom: 50px;
    margin-top: 30px;
}
.nabar2 button
{
    margin-left: 20px;
    margin-right: 10px;

}